@use '../variables' as vars;
@use 'fac-theo' as *;
@use 'fac-law' as *;
@use 'fac-med' as *;
@use 'fac-phil' as *;
@use 'fac-agri' as *;
@use 'fac-math' as *;
@use 'fac-buis' as *;
@use 'fac-eng' as *;
@use 'sass:map';
@use 'sass:list';

$fac-block-height: 1.7%;
$fac-block-width: 2.8%;
$fac-block-spacing: 2 * $fac-block-height;

$fac-colors: (
    map.get($fac-theo, $key: 'color'),
    map.get($fac-law, $key: 'color'),
    map.get($fac-med, $key: 'color'),
    map.get($fac-phil, $key: 'color'),
    map.get($fac-agri, $key: 'color'),
    map.get($fac-math, $key: 'color'),
    map.get($fac-buis, $key: 'color'),
    map.get($fac-eng, $key: 'color')
);
$fac-blocks: (
);
$fac-block-sizes: (
);
$fac-block-positions: (
);

@for $i from 1 through list.length($fac-colors) {
    $fac-color: list.nth($fac-colors, $i);

    $fac-blocks: list.append($fac-blocks,
            linear-gradient(to bottom, $fac-color $fac-block-height 0),
            comma);

    $fac-block-sizes: list.append($fac-block-sizes,
            $fac-block-width $fac-block-height,
            comma);

    $fac-block-positions: list.append($fac-block-positions,
            right calc(75% - (4 * $fac-block-height) - (3.5 * $fac-block-spacing) + (#{$i - 1} * ($fac-block-height + $fac-block-spacing))),
            comma);
}